{{ define "responseAttributes" }}
  {{- if .Optional }}
    {{- $ptr := "*" }}
  {{- else }}
    {{- $ptr := "" }}
  {{ end -}}
  state.{{ .Name }} = types.{{ .Type }}Value(
  for _, item := range *listResp {
  itemState := {{ .Model.Camel }}Model{
    {{ range $_, $attr := .Attributes }}
      {{ $attr.Name }}  = types.{{ $attr.TfType }}(item.{{ $attr.TypeName }})
    {{ end }}
  }

  if alias.Comment != nil {
    aliasState.Comment = types.StringValue(*alias.Comment)
  }
{{ end }}
